<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,900" rel="stylesheet">
    <title>Index</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link href="ratchet.css" rel="stylesheet">
    <script src="ratchet.js"></script>
    <link href="custom.css" rel="stylesheet"> -->
  </head>
  <body style="background-color:#3fa9f5; font-family:Lato">
    <br></br>
    <div class="content">
      <!-- Title Text -->
      <div class="content-padded">
        <h1 class="enter" align = "center" style="color:white">WellSoon</h1>
      </div>
      <br></br><br></br>
      <!-- Creating buttons for transitions to sign up and log in pages -->
      <div align="center">
        <a class="btn btn-positive btn-block" id="nav" href="/entries/new" style="text-decoration:none; color:white">
          New Entry
        </a>
          <br></br>
        <a class="btn btn-positive btn-block" id="nav" href="/entries/progress" style="text-decoration:none; color:white">
          View Progress
        </a>
      </div>

    </div>
    <br></br>
    <% if @entries.first != nil %>
      <% @entries.each do |e| %>
        <div align="middle" style="background:white; margin-left:10%; margin-right:10%; border:2px solid black">
          <p>Date: <%= e.created_at.strftime("%m/%d/%Y at %I:%M%p %Z") %></p>
          <p>Pain level: <%= e.pain %>/10</p>
          <p>Activity level: <%= e.activity %>/5</p>
          <p>Dosage taken: <%= e.doses %> pills</p>
          <p style="font-weight:bold">-Journal-</p>
          <%= e.diary %>
          <br></br>
          
            <p>Anger: <%= e.anger.round %> %</p>
            <p>Disgust: <%= e.disgust.round %> %</p>
            <p>Fear: <%= e.fear.round %> %</p>
            <p>Sadness: <%= e.sadness.round %> %</p>
            <p>Joy: <%= e.joy.round %> %</p>

          <br></br>
          <%= button_to "Delete", remove_entry_path(id: e.id),
             {
              :method => :delete,
              :style => "padding-bottom: 25px;"
             } %>
          <br></br>
        </div>
      <% end %>
    <% end %>
  </body>
</html>
